body {
  background-color: #252b31;
  color: #e4e4e4;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
}

#input-field {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 10px;
}

#submit-button {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.movie-cards {
  max-width: 75%;
}

.movie-cart {
  position: fixed;
  top: 145px;
  right: 15px;
}

.movie-cart .card-body {
  color: black;
  min-height: 220px;
}

.movie-inside-cart {
  padding: 3px 0;
}

.remove-cart-item {
  float: right;
}

#movie-cards {
  height: 200px;
}

#movie-cards h1 {
  position: absolute;
  bottom: 10px;
}

.add-movie-button {
  text-align: right;
}

.card h1 {
  font-size: 0.9em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(7, 7, 7);
  text-align: center;
  bottom: 0;
}
