body {
  background-color: #252b31;
  color: #e4e4e4;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 5px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
}

#input-field {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 10px;
}

.loading-no-movies{
  
  margin: 0;
}

.card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 270px;
  margin: 16px;
  float: left;
}

.card h1 {
  font-size: 0.9em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: rgb(7, 7, 7);
  text-align: center;
  bottom: 0;
}

.card-title {
  margin: 15px 0;
}

#movie-cards {
  height: 380px;
}

.movie-cards-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 320px;
}

.movie-cards-container img {
  height: 300px;
}

#add-movie-button {
  background-color: rgb(165, 165, 165);
  width: 50px;
  margin-bottom: 1px;
}

.movie-cart {
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  border-radius: 7px;
  padding: 10px;
  width: 280px;
  margin: 16px;
  text-align: center;
  color: black;
  position: absolute;
  top: 145px;
  right: 15px;
  min-height: 150px;
}
.buy-list {
  display: flex;
  flex-direction: row;
}

.cart-movie-title {
  width: 70%;
  text-align: center;
}

.buy-list p {
  flex-direction: row;
  flex-direction: column;
}

.cart-movie-remove-button {
  width: 30%;
}

#remove-item-button {
  border: 0;
  padding: 0;
  color: #ff5555;
  background-color: #fff;
}

#buy-button {
  margin: 15px 0;
}

@media only screen and (max-width: 700px) {

  .testFlexBox{
    display: flex;
    flex-direction: column;
  }

  .movie-cart {
    position: relative;
    top:0;
    margin-top: 50px;
    left: 25px;
  }

  .card{
    width: 280px;
    left: 25px;
  }

  .movie-cards-container {
    margin-top: 1px;
    order: 2;
  }
}